pkgbase = feishu-portable
	pkgdesc = Linux client of Feishu (Lark) from Bytedance. Sandboxed by portable.
	pkgver = 7.54.11
	pkgrel = 1
	epoch = 1
	url = https://www.feishu.cn/
	arch = x86_64
	arch = aarch64
	license = LicenseRef-feishu
	makedepends = xdg-utils
	provides = feishu-bin
	provides = feishu
	conflicts = feishu
	conflicts = feishu-bin
	options = !debug
	options = !strip
	options = !emptydirs
	source = portable-config
	source = com.bytedance.feishu.desktop
	source = feishu.sh
	sha256sums = c41a282c27ceaef2c86c66f9207da9d0c1b0250735ed36dccb78ae81e484384f
	sha256sums = 6c96e320a3203642798d4e52262c01740e8adcd5f7bc613b5bfa2c13b9cb9606
	sha256sums = c445a576126f6a7b33e9a35b472d33bcb7d2e56bcf2c99de7551b8c48bb52f8d
	source_x86_64 = https://sf3-cn.feishucdn.com/obj/ee-appcenter/f2c1bb9d/Feishu-linux_x64-7.54.11.deb
	sha256sums_x86_64 = ee1dc43e90fa3e5c252326b1c991d8cf7ae9b98f1f8b92bc600a37567df4d2a4
	source_aarch64 = https://sf3-cn.feishucdn.com/obj/ee-appcenter/0940b960/Feishu-linux_arm64-7.54.11.deb
	sha256sums_aarch64 = 5348218e5f8119eaf1ee1c953e71c729eaa2ab53927cabf8ccf87454e9128fe2

pkgname = feishu-portable
	depends = ca-certificates
	depends = gtk3
	depends = nss
	depends = xdg-utils
	depends = dnsmasq
	depends = portable
	depends = libmfx
	depends = libpulse
	depends = alsa-lib
