pkgbase = feishu-portable
	pkgdesc = Linux client of Feishu (Lark) from Bytedance. Sandboxed by portable.
	pkgver = 7.50.14
	pkgrel = 1
	epoch = 1
	url = https://www.feishu.cn/
	arch = x86_64
	arch = aarch64
	license = LicenseRef-feishu
	makedepends = xdg-utils
	provides = feishu-bin
	provides = feishu
	conflicts = feishu
	conflicts = feishu-bin
	options = !debug
	options = !strip
	options = !emptydirs
	source = portable-config
	source = com.bytedance.feishu.desktop
	source = feishu.sh
	sha256sums = c41a282c27ceaef2c86c66f9207da9d0c1b0250735ed36dccb78ae81e484384f
	sha256sums = 6c96e320a3203642798d4e52262c01740e8adcd5f7bc613b5bfa2c13b9cb9606
	sha256sums = c445a576126f6a7b33e9a35b472d33bcb7d2e56bcf2c99de7551b8c48bb52f8d
	source_x86_64 = https://sf3-cn.feishucdn.com/obj/ee-appcenter/e91d15e2/Feishu-linux_x64-7.50.14.deb
	sha256sums_x86_64 = 63095fdea8b8ab99d3de00bdaf8ca6b45608ae0f319b16a921f3b6a10a01742f
	source_aarch64 = https://sf3-cn.feishucdn.com/obj/ee-appcenter/f247fca9/Feishu-linux_arm64-7.50.14.deb
	sha256sums_aarch64 = 79ca5ac349fa8d1ab585d0d8deb4f346237c0a4dc14cbb7e2b50dcc6b3c8e131

pkgname = feishu-portable
	depends = ca-certificates
	depends = gtk3
	depends = nss
	depends = xdg-utils
	depends = dnsmasq
	depends = portable
	depends = libmfx
	depends = libpulse
	depends = alsa-lib
	depends = xwaylandvideobridge
