pkgbase = iwant
	pkgdesc = Install applications what I WANT.
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/TD-Sky/iwant
	arch = x86_64
	license = MIT
	makedepends = cargo
	optdepends = paru: AUR support
	optdepends = flatpak: flathub support
	optdepends = npm: npm support
	source = iwant-0.3.0.tar.gz::https://github.com/TD-Sky/iwant/archive/v0.3.0.tar.gz
	sha256sums = 828a13a39dbf7b0da62a8012a5049310d58aff6f19401825596691b3a74b484d

pkgname = iwant
